build
matplotlib>=3.11.1,<4
numpy>=2.5.2,<3
pandas[plot]>=2.3.3,<3
pytest-cov>=7.1.0,<8
pytest-repeat>=0.9.4,<0.10.0
pytest-timeout>=2.4.0,<3
pytest>=9.1.1,<10
scipy-stubs>=1.18.0.1,<2
scipy>=1.18.0,<2
setuptools>=84.0.0
tomli-w>=1.2.0,<2
typed-argument-parser>=1.12.0,<2
