name: build
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.12', '3.13', '3.14']
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - run: pip install -r requirements.txt
      - run: pip install -e .
      - run: pytest --cov=mqns tests
        env:
          MQNS_LOGLVL: DEBUG
      - uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          format: python
        if: matrix.python-version == '3.14'
    timeout-minutes: 30
